.words {
  position: absolute;
  left: 50%;
  top: 0;
  width: 700px; /* 원하는 너비 설정 */
  max-width: 70%;
  height: 100vh;
  transform: translateX(-50%);
  overflow: hidden; 
}

.wordContainer {
  position: absolute;
  transition: transform 0.1s linear;
}

.wordKorean {
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputDiv {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inputText {
  z-index: 100;
  width: 300px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 10px;
}
.inputBtn {
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 10px;
  z-index: 100;
  height: 50px;
  width: 70px;
  background-color: rgb(242, 248, 153);
  border-radius: 20%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 부드러운 색 변화 효과 */
}
/* 마우스를 올렸을 때 */
.inputBtn:hover {
  background-color: rgb(255, 220, 100);
}
