.words {
    position: absolute; /* 또는 fixed */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100; /* 최상위로 배치 */
    color: rgb(0, 0, 0); /* 배경에 대비되도록 텍스트 색상 변경 */
    font-size: 2rem;
    font-weight: 700;
    background-color: bisque;
  }

.word{
  background-color: aliceblue;
  margin: 10px;
  display: block; /* 개별 요소가 한 줄씩 배치됨 */
  padding: 5px 10px;
  border-radius: 5px;

  }