.words {
  position: absolute;
  left: 50%;
  top: 0;
  width: 700px; /* 원하는 너비 설정 */
  max-width: 70%;
  height: 100vh;
  transform: translateX(-50%);
  overflow: hidden; /* 컨테이너 밖으로 나간 단어 숨김 */
}

.wordContainer {
  position: absolute;
  transition: transform 0.1s linear;
}

.wordKorean {
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

}
