.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; /* 컨테이너 크기 지정 */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wing {
  position: relative;
  background-image: url("../../../public/wing.png");
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 110px;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: (50%, 50%);
  color: aliceblue;
}
